.App {
  text-align: center;
  align-content: center;
  margin: auto;

}
.rounded-2x{
  border-radius: 50%;
}

.dot-yellow {
  
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
}
.dot-red {
  
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #c12222;
  cursor: pointer;
}
.dot-blue {
  
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #1b8ef3;
  cursor: pointer;
}

.my-border{
    border: 5px solid;
    border-color: #219f45;
    vertical-align:bottom;
   
    border-radius: 50%;
   
    animation: pulse 1s infinite;
    display: inline-block;

  
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}



.booked {
  background-color: #444444;
  width : 1000px;
  max-width: 1400px;
  margin: 4rem;
  border-color: #42b462;
  border: 6px solid;
}

body {
  margin: 0;
  background-color: #161616;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  background-color: #161616;

}

.ais-Hits-item{
  background-color: #161616;

}

.user-card-a {
  background-color: #444444;
  padding: 1rem;
  float: none; 
  
  height: 100px;
  
  margin-left: 6em;
  margin-right: 6em;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  display: grid; 
  grid-template-columns: 1fr 3fr 2fr  1fr 2fr;
  transition: all 0.25s ease;
  width: auto;
  height: 200 auto;
 
  justify-content: space-around;
}
.user-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.card-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}
.ais-Hits-list{
  align-items: center;
  display: grid;
  justify-content: center;

}
.ais-Pagination{
  display: flex;
  justify-content: center;
}
.ais-Pagination-list{
  background-color: #444444;
  display: flex;
  justify-content: center;
}
.ais-SearchBox-form{
  background-color: #444444;
  margin-left: 30em;
  margin-right: 30em;
  float: none; 
  margin-bottom: 10px; 
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  transition: all 0.25s ease;
  width: auto;
  height: 70px;
  justify-content: space-around;
  margin-bottom: 50px;

}
.ais-SearchBox-input {
  background-color: #444444;
  font-size: 30px;
  float: none; 
  margin-bottom: 10px; 
 

  border-radius: 5px;
  cursor: text;
  display: flex;
  transition: all 0.25s ease;
  width: auto;
  align-items: center;
  justify-content: left;
  color: #5dd4ac;
  height: 70px;
  justify-content: space-around;
}

.button.width-auto {
  width: 200px;
  padding: 0 15px;
  max-width: none;
}
.button.button-green {
  background-color: #219f45;
}

.ais-Hits-item{
  list-style:none ;
  width:auto;
  height: 140px;
}
.ais-Hits-list{
  margin-bottom: 2rem;
}

/* [role="button"],
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
} */

.button {
  display: block;
  text-align: center;
  width: 100px;
  max-width: 130px;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  color: #fff !important;
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.1s linear;
  font-family: EncodeSansExpanded-Bold, arial, tahoma;
}
.button:hover{
  background-color: #42b462;
}
.user-card {
  background-color: #444444;
  padding: 1rem;
  float: none; 
  margin-bottom: 10px; 
  height: 100px;
  margin: 2em;
  margin-left: 6em;
  margin-right: 6em;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  display: grid; 
  grid-template-columns: 1fr 5fr 2fr 1fr 0.8fr 3fr 1fr 2fr;
  transition: all 0.25s ease;
  width: auto;
  height: 200 auto;
 
  justify-content: space-around;
}

.avatar {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  align-items: center;
  display: flex;
  text-align: left;
  margin-left: 1rem;
}



div {
  align-items: center;
  justify-content: left;
}
.user-post {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
}

.user-post h2 {
  margin: 1rem auto;
  color: white;
}

.user-post a {
  cursor: pointer;
  text-decoration: none;
}

.user-card__image {
  display: flex;
}

.user-post a:hover {
  color: #5dd4ac;
}

@media (max-width: 600px) {
  .user-container {
    grid-template-columns: 1fr;
  }
}
